$cell-size: 12px;
$board-width: 30;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.top-panel {
  margin: 0 auto;
  button {
    margin: 2px;
  }
}

.board {
  margin: 0 auto;
  width: $cell-size * $board-width;
}

.cell {
  float: left;
  height: $cell-size;
  width: $cell-size;
  border-style: solid;
  border-width: 1px;
  margin: 0px;
  box-sizing: border-box;
}
